/* for headings */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', cursive; */


/* for plane text */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
/* font-family: 'Balsamiq Sans', cursive; */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');



/* Common styling for all the components */
html{
    scroll-behavior: smooth;
}

a:active{
    color: rgb(130,71,162);
}

body{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #f1fde5;
}

h1, h3{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1.5px;
    margin-top: 25px;
    line-height: 30px;
}

iframe{
    height: 350px;
    width: 561px;
    margin-top: 20px;
}

span{
    color: rgb(255,0,45);
    font-weight: 1200;
}

#howToUse ul{
    list-style: none;
}

.container{
    padding: 0 10px;
    border-radius: 5px;
/*    box-shadow: 0 0 10px 10px #b6b6b6;*/
    background-color: #f0f0f0;
    line-height: 23px;
    word-spacing: 3px;
    padding-bottom: 20px;
}

.navbar{
    text-align: center;
    margin: 20px;
    margin-top: 0;
}

.navbar .links{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.navbar .logo img{
    height: 150px;
    margin: 10px 0;
}


#howToUse{
    margin: 20px auto;
    text-align: center;
}

#introduction p{
    text-align: unset;
}

/* for navbar buttons */

.btn:active{
    color: #6b6b6b;
}

.links a{
    text-decoration: none;
    margin: 10px;
    transition: 0.5s;
    padding: 4px;
/*    border: 1px dotted blue;*/
    border-radius: 10px;
/*    width: 20%;*/
}

.links a:hover{
    color: black;
    text-shadow: 1px 3px 3px red;
    border-radius: 5px;
}











/* for footer */
.footer{
    color: #000000;
    /* width: 100%; */
    position: relative;
    bottom: 0;
    padding: 5px;
    text-align: center;
    background: rgb(219,224,234);
    border-top: 2px solid rgba(224,60,59, 0.5);
    border-radius: 5px 5px 0 0;
    transition-duration: 1s;
    opacity: 0.8;
    animation: Border 2s ease-in-out infinite;
    margin-top: 10px;
}

.footer-link{
    width: 80%;
    margin: 10px auto;
    height: 40px;
}

.footer-link a{
    margin: 10px;
    text-decoration: none;
    transition-duration: 1s;
    position: relative;
}

.footer-link a:hover{
    top: 3px;
}

@keyframes Border{

    20%,80%{
        border-color: rgba(255, 4, 4, 1);
    }
}


/* for mobile */
@media only screen and (max-width: 768px) {
    
    a{
        font-size: 18px;
    }    
    
    iframe{
        height: 160px;
        width: 320px;
        margin-top: 20px;
    }
}